<!DOCTYPE html>
<html lang="en">
<head>
<script>
var dataLayer = {
                "pageName" : "",
                "pageURL" : "",
                "loginStatus" : "",
                "signUpStatus" : "",
                "productOnCart" : "",
                "cartStatus" : "",
                "checkOutStatus" : ""
                }
    </script>
    <script src="https://assets.adobedtm.com/43e08a8c9425/2663591b45b4/launch-40caf4e2cd26-development.min.js" async></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SneakerExchange</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
</head>
<body>
    {{{body}}}
</body>
</html>
